In [1]:
import pandas as pd
from sqlalchemy import create_engine

conn_string = 'sqlite:///../data/raw/raw_data_project_m1.db'
motor_conexion = create_engine(conn_string)

print("Conexion a la Base de Datos lista...")

Conexion a la Base de Datos lista...

# Análisis preliminar

## Listado de las tablas en la base de datos

In [2]:
df = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';", motor_conexion)
df

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

## Tabla *country_info*

In [3]:
# Select de la tabla "country_info" a pandas dataframe
df = pd.read_sql("SELECT * FROM country_info", motor_conexion)

In [4]:
# Primeros 5 registros de la tabla
df.head()

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT         city

In [5]:
# ¿Cuantas filas y columnas tiene la tabla?
df.shape

(9649, 3)

In [6]:
# Como se llaman las columnas
columns = df.columns
list(columns)

['uuid', 'country_code', 'rural']

In [7]:
# Información general de las columnas. 
# ¿Hay valores nulos? Parece que no
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9649 entries, 0 to 9648
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uuid          9649 non-null   object
 1   country_code  9649 non-null   object
 2   rural         9649 non-null   object
dtypes: object(3)
memory usage: 226.3+ KB

In [8]:
# Distribución de valores sesgún la columna "rural"
df["rural"].value_counts()

urban          3842
city           1664
rural          1517
Non-Rural      1372
Country         772
countryside     482
Name: rural, dtype: int64

In [9]:
# ¿Que posibles valores puede tomar la columna "rural"?
list(df["rural"].unique())

['countryside', 'urban', 'city', 'Country', 'rural', 'Non-Rural']

In [10]:
# ¿Que posibles valores puede tomar la columna "country_code"?
df["country_code"].unique()

array(['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR',
       'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL',
       'PL', 'PT', 'RO', 'SE', 'SI', 'SK'], dtype=object)

## Tabla *personal_info*

In [11]:
df = pd.read_sql("SELECT * FROM personal_info", motor_conexion)

In [12]:
df.head()

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65

## Tabla *career_info*

In [13]:
df = pd.read_sql("SELECT * FROM career_info", motor_conexion)

In [14]:
df.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9649 entries, 0 to 9648
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   uuid                 9649 non-null   object
 1   dem_education_level  8986 non-null   object
 2   dem_full_time_job    9649 non-null   object
 3   normalized_job_code  5702 non-null   object
dtypes: object(4)
memory usage: 301.7+ KB

In [16]:
df["dem_full_time_job"].value_counts()

yes    5702
no     3947
Name: dem_full_time_job, dtype: int64

In [17]:
# ¿Cuantos valores hay de dem_education_level?
df["dem_education_level"].value_counts()

medium    3578
high      3270
low       1815
no         323
Name: dem_education_level, dtype: int64

In [18]:
# ¿Cuantos valores de dem_education_level son nulas?
df["dem_education_level"].isna().sum() # ¿¿¿???

663

## Tabla *poll_info*

In [19]:
df = pd.read_sql("SELECT * FROM poll_info", motor_conexion)

In [20]:
df.head()

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

In [21]:
# Renombro las columnas
columns_renamed = ['uuid', 'awareness', 'vote', 'effect', 'argumentsfor','argumentsagainst']
df.columns = columns_renamed
df.head()

,uuid,awareness,vote,effect,argumentsfor,argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

In [39]:
# Posibles valores del voto (¿a favor en contra?)
df['vote'].value_counts()

I would probably vote for it        3272
I would vote for it                 2819
I would probably vote against it    1439
I would not vote                    1159
I would vote against it              960
Name: vote, dtype: int64

In [38]:
# ¿Hay entradas nulas en el sentido del voto?
condition = df['vote'].isna()
df["vote"][condition].count()

0

In [29]:
# Número de argumentos únicos a favor
df['argumentsfor'].nunique()

674

In [30]:
# Número de argumentos únicos en contra
df['argumentsagainst'].nunique()

881

# Consultas Finales
Consultas que puedo usar para el ejercicio.

## Challenge 1
El objetivo es una tabla parecida a esta:

| Country | Job Title | Rural | Quantity | Percentage |
| --- | --- | --- | --- | --- |
| Spain | Data Scientist | countryside | 25 | 5% |
| Spain | Data Scientist | urban | 25 | 5% |
| ... | ... | ... | ... | ... |

In [19]:
country_code = ''
#country_code = 'asdfg'
#country_code = 'eS'
#country_code = 'ES'

# Esta consulta saca el total de normalized_job_codes (con valores no nulos)
country_code_filter = f'AND country_code = "{country_code.upper()}"' if country_code else ""
SQL_QUERY = f"""
SELECT COUNT(normalized_job_code) AS Total
FROM career_info JOIN country_info
ON career_info.uuid = country_info.uuid 
WHERE normalized_job_code IS NOT NULL
{country_code_filter}
"""
df = pd.read_sql(SQL_QUERY, motor_conexion)
total = float(df["Total"][0])
#print(total)
#print(type(total))

# Esta consulta saca la tabla en sí (falta asociar Country y Job Title a sus respectivas fuentes externas)
# ['countryside', 'urban', 'city', 'Country', 'rural', 'Non-Rural']
country_code_filter = f'HAVING country_code = "{country_code.upper()}"' if country_code else ""
SQL_QUERY = f"""
SELECT normalized_job_code, 
    country_code, 
    CASE rural
        WHEN 'urban'
            THEN 'No'
        WHEN 'city'
            THEN 'No'
        WHEN 'Non-Rural'
            THEN 'No'
        ELSE
            'Yes'
    END Rural_Area, 
    COUNT(career_info.uuid) AS Quantity, 
    ROUND(COUNT(career_info.uuid) / {total} * 100, 2) AS Percentage
FROM career_info 
JOIN country_info
ON career_info.uuid = country_info.uuid
WHERE normalized_job_code IS NOT NULL 
GROUP BY Rural_Area, country_code, normalized_job_code
{country_code_filter}
"""

df = pd.read_sql(SQL_QUERY, motor_conexion)
display(df.sort_values(by="normalized_job_code", ascending=False))

,normalized_job_code,country_code,Rural_Area,Quantity,Percentage
549,fd69391dc29c83d5ad744daa57de0175,FI,No,1,0.02
370,fd69391dc29c83d5ad744daa57de0175,DK,No,1,0.02
1967,fd69391dc29c83d5ad744daa57de0175,FR,Yes,1,0.02
1330,fd69391dc29c83d5ad744daa57de0175,PL,No,1,0.02
2380,fd69391dc29c83d5ad744daa57de0175,SE,Yes,1,0.02
...,...,...,...,...,...
79,004431b0c1ce29ff6145307fa23f3f98,BG,No,1,0.02
550,004431b0c1ce29ff6145307fa23f3f98,FR,No,1,0.02
1491,004431b0c1ce29ff6145307fa23f3f98,SE,No,1,0.02
381,004431b0c1ce29ff6145307fa23f3f98,ES,No,4,0.07
1968,004431b0c1ce29ff6145307fa23f3f98,GB,Yes,1,0.02

## Bonus 1
El objetivo es una tabla parecida a esta:

| Position | Number of Pro Arguments | Number of Cons Arguments |
| --- | --- | --- |
| In Favor |  |  |
| Against |  |  |
| Not Vote |  |  |

In [164]:
sql_query = """
WITH aux_t1 AS (
    SELECT uuid,
        CASE 
            WHEN question_bbi_2016wave4_basicincome_vote = 'I would vote for it' THEN 'In Favor'
            WHEN question_bbi_2016wave4_basicincome_vote = 'I would probably vote for it' THEN 'In Favor'
            WHEN question_bbi_2016wave4_basicincome_vote = 'I would vote against it' THEN 'Against'
            WHEN question_bbi_2016wave4_basicincome_vote = 'I would probably vote against it' THEN 'Against'
            WHEN question_bbi_2016wave4_basicincome_vote = 'I would not vote' THEN 'Not Vote'
            ELSE 'N/A'
        END AS vote,
        question_bbi_2016wave4_basicincome_argumentsfor AS arguments_for,
        question_bbi_2016wave4_basicincome_argumentsagainst AS arguments_against
    FROM poll_info
),
aux_t2 AS (
    SELECT vote, COUNT(*) AS num_arguments_for
    FROM aux_t1 
    WHERE vote='In Favor' AND arguments_for!='None of the above' 
),
aux_t3 AS (
    SELECT vote, COUNT(*) AS num_arguments_against
    FROM aux_t1 
    WHERE vote='In Favor' AND arguments_against!='None of the above' 
),
aux_t4 AS (
    SELECT vote, COUNT(*) AS num_arguments_for
    FROM aux_t1 
    WHERE vote='Against' AND arguments_for!='None of the above' 
),
aux_t5 AS (
    SELECT vote, COUNT(*) AS num_arguments_against
    FROM aux_t1 
    WHERE vote='Against' AND arguments_against!='None of the above' 
),
aux_t6 AS (
    SELECT vote, COUNT(*) AS num_arguments_for
    FROM aux_t1 
    WHERE vote='Not Vote' AND arguments_for!='None of the above' 
),
aux_t7 AS (
    SELECT vote, COUNT(*) AS num_arguments_against
    FROM aux_t1 
    WHERE vote='Not Vote' AND arguments_against!='None of the above' 
)
SELECT * FROM aux_t2, aux_t3, aux_t4, aux_t5, aux_t6, aux_t7
"""

In [165]:
df = pd.read_sql(sql_query, motor_conexion)
df

,vote,num_arguments_for,vote,num_arguments_against,vote,num_arguments_for,vote,num_arguments_against,vote,num_arguments_for,vote,num_arguments_against
0,In Favor,5625,In Favor,5485,Against,1438,Against,2276,Not Vote,423,Not Vote,507

### Consulta final

In [184]:
def get_base_query():
    base_query = """
    WITH aux_t1 AS (
        SELECT uuid,
            CASE 
                WHEN question_bbi_2016wave4_basicincome_vote = 'I would vote for it' THEN 'In Favor'
                WHEN question_bbi_2016wave4_basicincome_vote = 'I would probably vote for it' THEN 'In Favor'
                WHEN question_bbi_2016wave4_basicincome_vote = 'I would vote against it' THEN 'Against'
                WHEN question_bbi_2016wave4_basicincome_vote = 'I would probably vote against it' THEN 'Against'
                WHEN question_bbi_2016wave4_basicincome_vote = 'I would not vote' THEN 'Not Vote'
                ELSE 'N/A'
            END AS vote,
            question_bbi_2016wave4_basicincome_argumentsfor AS arguments_for,
            question_bbi_2016wave4_basicincome_argumentsagainst AS arguments_against
        FROM poll_info
    )
    """
    return base_query


def num_arguments_for(vote_tendency, conn):
    sql_num_votes_for = f"""
    SELECT vote, COUNT(*) AS num_arguments_for
    FROM aux_t1 
    WHERE vote='{vote_tendency}' AND arguments_for!='None of the above' 
    """
    
    return pd.read_sql(get_base_query() + sql_num_votes_for, conn)["num_arguments_for"][0]


def num_arguments_against(vote_tendency, conn):
    sql_num_votes_for = f"""
    SELECT vote, COUNT(*) AS num_arguments_against
    FROM aux_t1 
    WHERE vote='{vote_tendency}' AND arguments_against!='None of the above' 
    """
    
    return pd.read_sql(get_base_query() + sql_num_votes_for, conn)["num_arguments_against"][0]


vote_positive_num_arguments_for = num_arguments_for('In Favor', motor_conexion)
vote_negative_num_arguments_for = num_arguments_for('Against', motor_conexion)
vote_neutral_num_arguments_for = num_arguments_for('Not Vote', motor_conexion)
vote_positive_num_arguments_against = num_arguments_against('In Favor', motor_conexion)
vote_negative_num_arguments_against = num_arguments_against('Against', motor_conexion)
vote_neutral_num_arguments_against = num_arguments_against('Not Vote', motor_conexion)

print(f"Votos a favor. Numero de argumentos a favor: {vote_positive_num_arguments_for}")
print(f"Votos a favor. Numero de argumentos en contra: {vote_positive_num_arguments_against}")
print(f"Votos en contra. Numero de argumentos a favor: {vote_negative_num_arguments_for}")
print(f"Votos en contra. Numero de argumentos en contra: {vote_negative_num_arguments_against}")
print(f"No vota ni a favor ni en contra. Numero de argumentos a favor: {vote_neutral_num_arguments_for}")
print(f"No vota ni a favor ni en contra. Numero de argumentos en contra: {vote_neutral_num_arguments_against}")

Votos a favor. Numero de argumentos a favor: 5625
Votos a favor. Numero de argumentos en contra: 5485
Votos en contra. Numero de argumentos a favor: 1438
Votos en contra. Numero de argumentos en contra: 2276
No vota ni a favor ni en contra. Numero de argumentos a favor: 423
No vota ni a favor ni en contra. Numero de argumentos en contra: 507

## Bonus 2
El objetivo es una tabla parecida a esta:

| Education Level | Top 10 Skills |
| --- | --- |
| high |  |
| medium |  |
| low |  |
| no education |  |

In [185]:
df = pd.read_sql("SELECT * FROM career_info", motor_conexion)
df.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f

In [186]:
df["dem_education_level"].value_counts()

medium    3578
high      3270
low       1815
no         323
Name: dem_education_level, dtype: int64

In [202]:
# ¿Hay valores nulos?
education_is_null = df["dem_education_level"].isna()
df[education_is_null].count()

uuid                   663
dem_education_level      0
dem_full_time_job      663
normalized_job_code    256
dtype: int64

In [205]:
# Relleno valores nulos
df["dem_education_level"].fillna("N/A", inplace=True)
df["dem_education_level"].value_counts()

medium    3578
high      3270
low       1815
N/A        663
no         323
Name: dem_education_level, dtype: int64

In [236]:
# Importo la función get_jobs_df para obtener los nombres de jobs desde API.
# Como esta un subdirectorio por debajo no puedo importar esto de la forma tradicional así que tengo que usar sys.path.insert
import sys
sys.path.insert(0, '../p_acquisition')
from m_job_data_acquisition import get_jobs_df

### Consulta final

In [241]:
def get_top_jobs_by_education_level(education_level, conn):
    sql_query = f"""
    SELECT uuid,
        CASE 
            WHEN dem_education_level IS NULL THEN 'N/A'
            ELSE dem_education_level
        END AS education_level,
        normalized_job_code AS job_code,
        COUNT(normalized_job_code) AS num_jobs 
    FROM career_info
    WHERE education_level = '{education_level}'
    GROUP BY education_level, job_code
    ORDER BY num_jobs DESC
    LIMIT 10
    """

    return list(pd.read_sql(sql_query, conn)["job_code"])

top_job_codes_education_unknown = get_top_jobs_by_education_level("N/A", motor_conexion)
print(list(get_jobs_df(top_job_codes_education_unknown)["job_name"]))

top_job_codes_education_high = get_top_jobs_by_education_level("high", motor_conexion)
print(list(get_jobs_df(top_job_codes_education_high)["job_name"]))

top_job_codes_education_medium = get_top_jobs_by_education_level("medium", motor_conexion)
print(list(get_jobs_df(top_job_codes_education_medium)["job_name"]))

top_job_codes_education_low = get_top_jobs_by_education_level("low", motor_conexion)
print(list(get_jobs_df(top_job_codes_education_low)["job_name"]))

top_job_codes_no_education = get_top_jobs_by_education_level("no", motor_conexion)
print(list(get_jobs_df(top_job_codes_no_education)["job_name"]))

Getting normalized job data using the dataatwork API
Returning job name corresponding to code: 861a9b9151e11362eb3c77ca914172d0
Returning job name corresponding to code: 8a7a3f1bce0958ae9f090683e5a925b7
Returning job name corresponding to code: 3833bd699e7afe4665b595f282da0387
Returning job name corresponding to code: a4d5b8b38f9513825d0d94a981ebe962
Returning job name corresponding to code: ced804d972b03cca6d523ec8925a7943
Returning job name corresponding to code: 04c82eae29e1c4a30eac0710b74ab276
Returning job name corresponding to code: 132aa9e82c5d4c8a395342d0a6e22c5c
Returning job name corresponding to code: 1a281bf4bd1fe9b2a6e464e508bea167
Returning job name corresponding to code: 2ca138b991c50dc6696238e5ad800142
Returning job name corresponding to code: 36ac256201657eeaa67ee95aaae3cd54
['Automatic Data Processing Planner', 'Data Scientist', 'Database Development and Administration Project Manager', 'Database Manager', 'Oracle Database Administrator (Oracle DBA)', 'Database Marketing Analyst', 'Electronic Data Interchange System Developer (EDI System Developer)', 'Data Storage Specialist', 'Database Software Technician', 'Data Warehousing Specialist']
Getting normalized job data using the dataatwork API
Returning job name corresponding to code: 141ddda0f613da65a280521247de0e9f
Returning job name corresponding to code: 775190277a849cba701b306a7b374c0a
Returning job name corresponding to code: 38a15ceadcdd6d4db16a88fa1a72b083
Returning job name corresponding to code: fcaf4aac737e53ad24b9f32f08b8740f
Returning job name corresponding to code: 781f5d3a80812531fdc81125a527a626
Returning job name corresponding to code: 861a9b9151e11362eb3c77ca914172d0
Returning job name corresponding to code: 049a3f3a2b5f85cb2971ba77ad66e10c
Returning job name corresponding to code: 7bb15eefb19ed09c59349baad7e8469e
Returning job name corresponding to code: a33662485eb4ad97096183db945308f4
Returning job name corresponding to code: 76385cb24e831b3364279b9de5641d8f
['Data Administrator', 'Data Officer', 'Data Warehouse Analyst', 'Computer or Data Processing Systems Consultant', 'Data Warehouse Specialist', 'Automatic Data Processing Planner', 'Data Coordinator', 'Database Coordinator', 'Automatic Data Processing Planner (ADP Planner)', 'Automatic Data Processing Systems Security Specialist (ADP Systems Security)']
Getting normalized job data using the dataatwork API
Returning job name corresponding to code: 1a281bf4bd1fe9b2a6e464e508bea167
Returning job name corresponding to code: 375017ea3a1a97f5ea676def873bb25b
Returning job name corresponding to code: 775190277a849cba701b306a7b374c0a
Returning job name corresponding to code: a003702c0cea282e17967772dd83de5e
Returning job name corresponding to code: ced804d972b03cca6d523ec8925a7943
Returning job name corresponding to code: d4624ed8068d24948e18303212593cd6
Returning job name corresponding to code: 049a3f3a2b5f85cb2971ba77ad66e10c
Returning job name corresponding to code: 16b67d7f57698455aefbc1ae1b358b50
Returning job name corresponding to code: 1dd2fdc8a3981f2a1d8f0ca173952bb8
Returning job name corresponding to code: dac2e921c1f887d9efc4c06fa33c1397
['Data Storage Specialist', 'Geographic Information Systems Data Specialist (GIS Data Specialist)', 'Data Officer', 'Data Security Analyst', 'Oracle Database Administrator (Oracle DBA)', 'Data Architect', 'Data Coordinator', 'Database Engineer', 'Database Administration Manager', 'Automatic Data Processing Customer Liaison (ADP Customer Liaison)']
Getting normalized job data using the dataatwork API
Returning job name corresponding to code: e7b3e1c6a32c7247cd4857e4c3574165
Returning job name corresponding to code: 897ef18a9321616495831a4b4b0c1bb2
Returning job name corresponding to code: 36675c937946c8a4fc5de7d0b4c850de
Returning job name corresponding to code: 76385cb24e831b3364279b9de5641d8f
Returning job name corresponding to code: 775190277a849cba701b306a7b374c0a
Returning job name corresponding to code: 77d124811ae6887bd4ff42b0e2b49116
Returning job name corresponding to code: a12a16280e22220f9354333f6fe1b22a
Returning job name corresponding to code: e55556364d2096578fd153e9800e826f
Returning job name corresponding to code: 0de6170ccbed08e62b2e5862d5846a43
Returning job name corresponding to code: a003702c0cea282e17967772dd83de5e
['Data Processing Systems Analyst', 'Data Communications Software Consultant', 'Data Warehousing Engineer', 'Automatic Data Processing Systems Security Specialist (ADP Systems Security)', 'Data Officer', 'Data Warehouse Architect', 'Geographic Information Systems Data Administrator (GIS Data Administrator)', 'Database Consultant', 'Database Tester', 'Data Security Analyst']
Getting normalized job data using the dataatwork API
Returning job name corresponding to code: 5db2c8d6539f983e1ca3d7c5b939e190
Returning job name corresponding to code: 77d124811ae6887bd4ff42b0e2b49116
Returning job name corresponding to code: 2173ff3afd8d28192f7cf119af201940
Returning job name corresponding to code: 3161063d378eecc4581c5cdee46a2a6c
Returning job name corresponding to code: 375017ea3a1a97f5ea676def873bb25b
Returning job name corresponding to code: 45033f83b6e0309eca9bcd76917f15d0
Returning job name corresponding to code: 775190277a849cba701b306a7b374c0a
Returning job name corresponding to code: a003702c0cea282e17967772dd83de5e
Returning job name corresponding to code: a12a16280e22220f9354333f6fe1b22a
Returning job name corresponding to code: e2f68bf748aea2c7d2254550c0c92b23
['Database Administration Associate', 'Data Warehouse Architect', 'Data Modeling Specialist', 'Head of Information Systems and Data Processing', 'Geographic Information Systems Data Specialist (GIS Data Specialist)', 'Database Modeler', 'Data Officer', 'Data Security Analyst', 'Geographic Information Systems Data Administrator (GIS Data Administrator)', 'Director of Data Operations']