In [1]:
import pandas as pd
from sqlalchemy import create_engine

conn_string = 'sqlite:///../data/raw/raw_data_project_m1.db'
motor_conexion = create_engine(conn_string)

print("Conexion a la Base de Datos lista...")

Conexion a la Base de Datos lista...

# Análisis preliminar

## Listado de las tablas en la base de datos

In [2]:
df = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite_%';", motor_conexion)
df

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

## Tabla *country_info*

In [3]:
# Select de la tabla "country_info" a pandas dataframe
df = pd.read_sql("SELECT * FROM country_info", motor_conexion)

In [4]:
# Primeros 5 registros de la tabla
df.head()

                                   uuid country_code        rural
0  f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1  54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2  83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3  15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4  24954a70-db98-0133-4a64-0a81e8b09a82           AT         city

In [5]:
# ¿Cuantas filas y columnas tiene la tabla?
df.shape

(9649, 3)

In [6]:
# Como se llaman las columnas
columns = df.columns
list(columns)

['uuid', 'country_code', 'rural']

In [7]:
# Información general de las columnas. 
# ¿Hay valores nulos? Parece que no
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9649 entries, 0 to 9648
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   uuid          9649 non-null   object
 1   country_code  9649 non-null   object
 2   rural         9649 non-null   object
dtypes: object(3)
memory usage: 226.3+ KB

In [8]:
# Distribución de valores sesgún la columna "rural"
df["rural"].value_counts()

urban          3842
city           1664
rural          1517
Non-Rural      1372
Country         772
countryside     482
Name: rural, dtype: int64

In [9]:
# ¿Que posibles valores puede tomar la columna "rural"?
list(df["rural"].unique())

['countryside', 'urban', 'city', 'Country', 'rural', 'Non-Rural']

In [10]:
# ¿Que posibles valores puede tomar la columna "country_code"?
df["country_code"].unique()

array(['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR',
       'GB', 'GR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL',
       'PL', 'PT', 'RO', 'SE', 'SI', 'SK'], dtype=object)

## Tabla *personal_info*

In [11]:
df = pd.read_sql("SELECT * FROM personal_info", motor_conexion)

In [12]:
df.head()

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65

## Tabla *career_info*

In [13]:
df = pd.read_sql("SELECT * FROM career_info", motor_conexion)

In [14]:
df.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9649 entries, 0 to 9648
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   uuid                 9649 non-null   object
 1   dem_education_level  8986 non-null   object
 2   dem_full_time_job    9649 non-null   object
 3   normalized_job_code  5702 non-null   object
dtypes: object(4)
memory usage: 301.7+ KB

In [16]:
df["dem_full_time_job"].value_counts()

yes    5702
no     3947
Name: dem_full_time_job, dtype: int64

## Tabla *poll_info*

In [17]:
df = pd.read_sql("SELECT * FROM poll_info", motor_conexion)

In [18]:
df.head()

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...

# Resultado Final
Consultas que puedo usar para el ejercicio.

## Challenge 1
El objetivo es una tabla parecida a esta:

| Country | Job Title | Rural | Quantity | Percentage |
| --- | --- | --- | --- | --- |
| Spain | Data Scientist | countryside | 25 | 5% |
| Spain | Data Scientist | urban | 25 | 5% |
| ... | ... | ... | ... | ... |

In [19]:
country_code = ''
#country_code = 'asdfg'
#country_code = 'eS'
#country_code = 'ES'

# Esta consulta saca el total de normalized_job_codes (con valores no nulos)
country_code_filter = f'AND country_code = "{country_code.upper()}"' if country_code else ""
SQL_QUERY = f"""
SELECT COUNT(normalized_job_code) AS Total
FROM career_info JOIN country_info
ON career_info.uuid = country_info.uuid 
WHERE normalized_job_code IS NOT NULL
{country_code_filter}
"""
df = pd.read_sql(SQL_QUERY, motor_conexion)
total = float(df["Total"][0])
#print(total)
#print(type(total))

# Esta consulta saca la tabla en sí (falta asociar Country y Job Title a sus respectivas fuentes externas)
# ['countryside', 'urban', 'city', 'Country', 'rural', 'Non-Rural']
country_code_filter = f'HAVING country_code = "{country_code.upper()}"' if country_code else ""
SQL_QUERY = f"""
SELECT normalized_job_code, 
    country_code, 
    CASE rural
        WHEN 'urban'
            THEN 'No'
        WHEN 'city'
            THEN 'No'
        WHEN 'Non-Rural'
            THEN 'No'
        ELSE
            'Yes'
    END Rural_Area, 
    COUNT(career_info.uuid) AS Quantity, 
    ROUND(COUNT(career_info.uuid) / {total} * 100, 2) AS Percentage
FROM career_info 
JOIN country_info
ON career_info.uuid = country_info.uuid
WHERE normalized_job_code IS NOT NULL 
GROUP BY Rural_Area, country_code, normalized_job_code
{country_code_filter}
"""

df = pd.read_sql(SQL_QUERY, motor_conexion)
display(df.sort_values(by="normalized_job_code", ascending=False))

,normalized_job_code,country_code,Rural_Area,Quantity,Percentage
549,fd69391dc29c83d5ad744daa57de0175,FI,No,1,0.02
370,fd69391dc29c83d5ad744daa57de0175,DK,No,1,0.02
1967,fd69391dc29c83d5ad744daa57de0175,FR,Yes,1,0.02
1330,fd69391dc29c83d5ad744daa57de0175,PL,No,1,0.02
2380,fd69391dc29c83d5ad744daa57de0175,SE,Yes,1,0.02
...,...,...,...,...,...
79,004431b0c1ce29ff6145307fa23f3f98,BG,No,1,0.02
550,004431b0c1ce29ff6145307fa23f3f98,FR,No,1,0.02
1491,004431b0c1ce29ff6145307fa23f3f98,SE,No,1,0.02
381,004431b0c1ce29ff6145307fa23f3f98,ES,No,4,0.07
1968,004431b0c1ce29ff6145307fa23f3f98,GB,Yes,1,0.02